    <h2 class='service-title'>
      ⭐️ここでは1週間のチャレンジ結果が見れます⭐️
    </h2>
  
      <%= link_to "トップページへ", root_path %>

    <% money = current_user.money * 7 %>
<% metabolism = current_user.metabolism * 7 %>
<% sum = 0 %>
  <% price = 0 %>
<% week_calendar events: @food do |date, food| %>
  <%= date %> <br>
  <% food.each do |f| %>
  <div>
    <% sum += f.calorie  %>
    <% price += f.price  %>
  </div>
    
  <% end %>
  
<% end %>
<h2 class='service-title'>
  週残り<%= metabolism -= sum %>kcal食べれます<br>
  週残り<%= money -= price %>円使えます<br>
</h2>  

  

    
  
<% money = current_user.money * 7 %>
<% metabolism = current_user.metabolism * 7 %>
<%= week_calendar events: @food do |date, food| %>
  <%= date %> <br>
  <% sum = 0 %>
  <% price = 0 %>
  ・<%= link_to "食べたもの一覧", edit_user_path(current_user) %> <br>
  <% food.each do |f| %>
  <div>
    <% sum += f.calorie  %>
    <% price += f.price  %>
    </div>
  <% end %>
  ・日に<%= sum %>kcal摂取<br>
  ・日に<%= price %>円使いました<br>
  ・週残り<%= metabolism -= sum %>kcal<br>
  ・週残り<%= money -= price %>円<br>
  <% if current_user.metabolism - sum > 0 %>
  ・チャレンジ結果<%= current_user.metabolism - sum %>kcal勝ったよ！<br>
  <% else %>
  ・チャレンジ結果<%= current_user.metabolism - sum %>kcal負けだよ<br>
  <% end %>
  <% if  current_user.money - price > 0 %>
  <%= current_user.money - price %>円勝ったよ！<br>
  <% else %>
  <%= current_user.money - price %>円負けだよ<br>
  <% end %>
<% end %>
