<%= render "shared/header" %>
基礎代謝 <%= current_user.metabolism %>kcal<br>
月の基礎代謝 <%= current_user.metabolism * 30 %>kcal<br>
月の予定額 <%= current_user.money %>円<br>
<% metabolism = current_user.metabolism * 30 %>
<%= week_calendar events: @food do |date, food| %>
  <%= date %> <br>
  <% sum = 0 %>
  <% price = 0 %>
  <% food.each do |f| %>
  <div>
    ・<%= link_to f.product, f %> <br>
    <% sum += f.calorie  %>
    <% price += f.price  %>
    </div>
  <% end %>
  ・<%= sum %>kcal摂取<br>
  ・<%= price %>円使いました<br>
  ・今月残り<%= current_user.money -= price %>円<br>
  ・今月残り<%= metabolism -= sum %>kcal<br>
<% end %>