<%= render "shared/header" %>

<h1>1日の目標値</h1>

<table>
      <tr>
        <td><%= current_user.nickname %></td>
        <td><%= current_user.metabolism %></td>
         <td><%= current_user.money %></td>
      </tr>
</table>
<br>


<%= month_calendar events: @food do |date, food| %>
  <%= date %> あなたの基礎代謝<%= current_user.metabolism %>kcal <br>
  <% sum = 0 %>
  <% food.each do |f| %>
    <div>
      <%= link_to f.product, f %>
      <%= f.calorie %>kcal
      <%# 現状商品名を押すと詳細ページに行く%>
      <% sum += f.calorie  %>
    </div>
  <% end %>
  現在<%= sum %>kcal取り込み中<br>
  <%= current_user.metabolism - sum %>kcal

<% end %>