
  </div>
  <div class='nav'>
    <ul class='lists-left'>
      <li><%= link_to '一週間チャレンジにいく！', users_path, method: :get, class: "category-list" %></li>
    </ul>
      <% if user_signed_in? %>
        <div class='lists-right'>
          <li><%= link_to "ようこそ#{current_user.nickname}さん", root_path, class: "user-nickname" %></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "logout" %></li>
        </div>
      <% else %>
        <div class='lists-right'>
          <li><%= link_to "ログイン", new_user_session_path, class: "login" %></li>
          <li><%= link_to "新規登録", new_user_registration_path, class: "sign-up" %></li>
        </div>
      <% end %>
  </div>  
    <h2 class='service-title'>
      ⭐️ここでは先月の結果が見れます⭐️
    </h2>
   
<% money = current_user.money * 30 %>
<% metabolism = current_user.metabolism * 30 %>

  <% sum = 0 %>
  <% price = 0 %>
・<%= link_to "食べたもの一覧", edit_user_path %> <br>
  <% @food.each do |f| %>
  <div>
    <% sum += f.calorie  %>
    <% price += f.price  %>
    </div>
  <% end %>
  ・残り<%= metabolism -= sum %>kcalでした<br>
  ・残り<%= money -= price %>円でした<br>