<%= month_calendar events: @food do |date, food| %>

<div class='item-contents'>
    <h2 class='title'><%= current_user.nickname %>さん</h2>
  

    <h2 class='title'><%= date.day %>日に食べた物</h2>
    <%# 現次は一種間ごとに「表示されている%>
    <%= link_to '新規投稿商品', "#", class: "subtitle" %>
    <ul class='item-lists'>

      <li class='list'>
       <% sum = 0 %>
       <% calorie = 0 %>
      <% @food.each do |food| %>
        <%= link_to food_path(food.id) do %>
            <div class='item-img-content'>
              <%= image_tag food.image, class: "item-img" %>
                <div class='item-info'>
                  <h3 class='item-name'>
                    <%= food.product %>
                  </h3>
                </div>
                <div class='item-price'>
                  <span><%= food.price %>円<br>(税込み)</span>
                  <div class='star-btn'>
                    <%= image_tag "star.png", class:"star-icon" %>
                  <span class='star-count'>0</span>
                </div>
              </div>
            </div>
            <% sum += food.price %>
             <% calorie += food.calorie  %>
             
           
          <% end %>
        <% end %>
      </li>
    </ul>
     <h2 class='title'>本日の総摂取カロリー</h2>
      <%= calorie %>kcal
    <h2 class='title'>本日の食材費</h2>
     <%= sum %>円
     <h2 class='title'>本日の残りカロリー</h2>
     <%= current_user.metabolism - calorie %>kcal
    <h2 class='title'>今月の残り食材費</h2>
     <%= current_user.money - sum %>円
     
</div>
<%= month_calendar events: @food do |date, food| %>
<%= date %> 基礎代謝<%= current_user.metabolism %>
  <%# 現状八日ならみかんが出る%>
  
<% sum = 0 %>
<% food.each do |f| %>
    <div>
      <%= f.product %>
      <%= f.calorie %>kcal
      <%# 現状商品名を押すと詳細ページに行く%>
      <% sum += f.calorie  %>
    </div>
  <% end %>
  現在<%= sum %>kcal取り込み中<br>
  <%= current_user.metabolism - sum %>kcal

<% end %>

<%= date.day %>
  <%= link_to "日に食べた物", food_path(date.day) %>
  

<% food.each do |f| %>
    <div>
      <%= link_to f.product, f %>
    </div>
  <% end %>
<% end %>
