<%# cssは商品出品のものを併用しています。
app/assets/stylesheets/items/new.css %>

<div class="items-sell-contents">
  <div class="items-sell-main">
    <h2 class="items-sell-title">商品の情報を入力</h2>
    <%= form_with(model: @food, local: true) do |f| %>
    
    <div class="img-upload">
      <div class="weight-bold-text">
        出品画像
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"item-image" %>
      </div>
    </div>
    <div class="new-items">
      <div class="weight-bold-text">
        料理名(オリジナル可)
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :product, class:"items-text", id:"item-name", placeholder:"商品名（必須 40文字まで)", maxlength:"40" %>
      <div class="weight-bold-text">
        カロリー(約)
      </div>
      <%= f.text_area :calorie, class:"items-text", id:"item-name", placeholder:"", maxlength:"40" %>
      <div class="weight-bold-text">
        材料費(約)
      </div>
      <%= f.text_area :price, class:"items-text", id:"item-name", placeholder:"メイン食材の材料費を書きましょう", maxlength:"40" %>
      <div class="weight-bold-text">
        材料
      </div>
      <%= f.text_area :ingredient, class:"items-text", id:"item-name", placeholder:"メイン食材の材料費を書きましょう", maxlength:"40" %>
      <div class="items-explain">
        <div class="weight-bold-text">
          作り方
        </div>
        <%= f.text_area :explanation, class:"items-text", id:"item-info", placeholder:"作り方の説明、工程を4つ程度に分けて書きましょう" ,rows:"7" ,maxlength:"1000" %>
      </div>
    </div>
        
    <div class="sell-btn-contents">
      <%= f.submit "変更する" ,class:"sell-btn" %>
      <%=link_to 'もどる', "#", class:"back-btn" %>
    </div>
  </div>
  <% end %>

  <footer class="items-sell-footer">
    <ul class="menu">
      <li><a href="#">プライバシーポリシー</a></li>
      <li><a href="#">フードマネー利用規約</a></li>
    </ul>
  </footer>
</div>