<%= render "shared/header" %>
<div class='main'>

  <%# 画面上部の「人生を変えるフリマアプリ」帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      week_management
    </h2>
    <p class='service-explain'>
      カロリーとお金には密接な関係があります
    </p>
    <p class='service-explain'>
      フードマネーは簡単にkcalと食費の関係が理解出来るようになります。<br>
      一週間ごとの記録であなたは軽い体と太った財布を手に入れるでしょう
    </p>
    <div class='store-btn'>
      <%= link_to image_tag("https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2011-09-21&kind=iossoftware&bubble=ios_apps", class:"apple-btn"), "#" %>
      <%= link_to image_tag("dl-android.png", class:"google-btn"), "#" %>
    </div>
  </div>
  <%# /画面上部の「人生を変えるフリマアプリ」帯部分  %>

  <%# FURIMAが選ばれる3つの理由部分 %>
  <div class='select-reason-contents'>
    <h2 class='title'>
      フードマネーは家計と体型を管理できるアプリ
    </h2>
    <ul class='reason-lists'>
      <li class='list'>
        <%= image_tag "0221.png", class:"list-pict" %>
        <span class='reason-list-number'>1</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>昨日。。。いや今日何食べたっけ？</span>
        </h3>
        <p class='reason-list-description'>
        </p>
      </li>
      <li class='list'>
        <%= image_tag "money_fueru.png", class:"list-pict" %>
        <span class='reason-list-number'>2</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>今日。。。いや毎日の食費ってどれくらい？</span>
        </h3>
        <p class='reason-list-description'>
        </p>
      </li>
      <li class='list'>
        <%= image_tag "furima-intro03.png", class:"list-pict" %>
        <span class='reason-list-number'>3</span>
        <h3 class='reason-list-text'>
          このアプリを見れば2つが丸わかり
          <span class='reason-list-blue-text'>俺こんな食ってたんだ。。。俺こんな使ってんだ。。。</span>
        </h3>
        <p class='reason-list-description'>
          過去の食費とkcalの一括管理！！！
        </p>
      </li>
    </ul>
  </div>
  <%# /FURIMAが選ばれる3つの理由部分 %>

  <%# 画面中央の「会員数日本一位」帯部分 %>
  <div class='ad-contents'>
    <h2 class='ad-title'>
      kcal？？？わからないよ。。。
    </h2>
    <p class='ad-explain'>
      大丈夫！
    </p>
    <p class='ad-explain'>
      そうあなたは1人じゃない！
    </p>
    <p class='ad-explain'>
      kcalマネーはただの家計管理アプリじゃありません！
      使い方をご紹介
    </p>
    <div class='store-btn'>
      <%= link_to image_tag("https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2011-09-21&kind=iossoftware&bubble=ios_apps", class:"apple-btn"), "#" %>
      <%= link_to image_tag("dl-android.png", class:"google-btn"), "#" %>
    </div>
  </div>
  <%# /画面中央の「会員数日本一位」帯部分 %>

  <%# FURIMAの特徴 %>
  <div class='feature-contents'>
    <h2 class='title'>
      kcalマネーの使い方
    </h2>
    <ul class='feature-lists'>
    <li class='list'>
        <%= image_tag "https://1.bp.blogspot.com/-5Ivf_XbpMGY/VYJrrYShorI/AAAAAAAAuiI/OjRHAljzJ6A/s800/oishii1_boy.png", class:"list-pict" %>
        <h3 class='feature-list-text'>
          1日の目標金額と基礎代謝を教えてね
        </h3>
        <p class='feature-list-description'>
          登録画面からすぐに基礎代謝が分かるから安心してね
        </p>
      </li>
      <li class='list'>
        <%= image_tag "https://1.bp.blogspot.com/-5Ivf_XbpMGY/VYJrrYShorI/AAAAAAAAuiI/OjRHAljzJ6A/s800/oishii1_boy.png", class:"list-pict" %>
        <h3 class='feature-list-text'>
          今から食べる物の写真を撮ろう！パシャ
        </h3>
        <p class='feature-list-description'>
          食べ物の記録をするために！
        </p>
      </li>
      <li class='list'>
        <%= image_tag "https://1.bp.blogspot.com/-5Ivf_XbpMGY/VYJrrYShorI/AAAAAAAAuiI/OjRHAljzJ6A/s800/oishii1_boy.png", class:"list-pict" %>
        <h3 class='feature-list-text'>
         検索ボタンからkcalを簡単に検索！
        </h3>
        <p class='feature-list-description'>
          kcalはみんなが共有しているからすぐ分かる！
         </p>
      </li>
    </ul>
  </div>

  <div class='feature-contents'>
    <ul class='feature-lists'>
      <li class='list'>
        <%= image_tag "https://1.bp.blogspot.com/-5Ivf_XbpMGY/VYJrrYShorI/AAAAAAAAuiI/OjRHAljzJ6A/s800/oishii1_boy.png", class:"list-pict" %>
        <h3 class='feature-list-text'>
          右下の『食べて記録』をクリック！
        </h3>
        <p class='feature-list-description'>
         実際に、かかった費用と調べたカロリーを撮った写真と共に入力！
        </p>
      </li>
      <li class='list'>
        <%= image_tag "9e2e4adcffa79c4df161f62e18b1f108_t.jpeg", class:"list-pict" %>
        <h3 class='feature-list-text'>
         一週間チャレンジから現在の記録が見れるよ！
        </h3>
        <p class='feature-list-description'>
          一週間なら計画が立てやすい！
         </p>
      </li>
      <li class='list'>
        <%= image_tag "ダウンロード.png", class:"list-pict" %>
        <h3 class='feature-list-text'>
          kcalは間違えても大丈夫！コメントでみんなが教えてくれるよ！
        </h3>
        <p class='feature-list-description'>
         摂取kcal,食費,さらには食材のkcalの知識がつくよ！一生物の知識がつきます
        </p>
      </li>
    </ul>
  </div>
  
  <%# /FURIMAの特徴 %>

  <div class='item-contents'>
    <h2 class='title'>共有情報</h2>
    <ul class='item-lists'>

      <li class='list'>
        <% @food.each do |food| %>
          <%= link_to food_path(food.id) do %>
            <div class='item-img-content'>
              <%= image_tag food.image, class: "item-img" %>
                <div class='item-info'>
                  <h3 class='item-name'>
                    <%= food.product %>
                  </h3>
                </div>
                <div class='item-price'>
                  <span><%= food.price %>円<br>(税込み)</span>
                  <div class='star-btn'>
                    <%= image_tag "star.png", class:"star-icon" %>
                  <span class='star-count'>0</span>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </li>
    </ul>
    <h2 class='title'>あなたも食べたものを共有しよう！</h2>
    <h2 class='title'>あなたの情報が誰かの役に必ずたつ</h2>
    <%= form_with(url: search_foods_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "今日食べる物！", class: "search-input" %>
      <%= form.submit "検索", class: "search-btn" %>
    <% end %>
  </div>
</div>

      

<% if user_signed_in? %>
  <div class='purchase-btn'>
    <span><%= link_to "食べて記録", new_food_path, class: 'purchase-btn-text' %></span>
    <%= image_tag 'https://1.bp.blogspot.com/-5Ivf_XbpMGY/VYJrrYShorI/AAAAAAAAuiI/OjRHAljzJ6A/s800/oishii1_boy.png' , size: '185x70' ,class: "purchase-btn-icon" %>
  </div>
<% else %>
  <div class='purchase-btn'>
    <span><%= link_to "食べて記録", user_session_path, class: 'purchase-btn-text' %></span>
    <%= image_tag 'https://1.bp.blogspot.com/-5Ivf_XbpMGY/VYJrrYShorI/AAAAAAAAuiI/OjRHAljzJ6A/s800/oishii1_boy.png' , size: '185x70' ,class: "purchase-btn-icon" %>
  </div>
<% end %>
<%= render "shared/footer" %>