<%= render "shared/header" %>
<div class='item-contents'>
<%= link_to "トップページへ戻る", root_path, class: "user-nickname" %>
    <h2 class='title'>検索結果</h2>
    <ul class='item-lists'>
      <li class='list'>
        <% @food.each do |food| %>
          <%= link_to food_path(food.id) do %>
            <div class='item-img-content'>
              <%= image_tag food.image, class: "item-img" %>
              <div class='item-info'>
                <h3 class='item-name'>
                  <%= food.product %>
                </h3>
              </div>
              <div class='item-price'>
                <span><%= food.price %>円<br>(税込み)</span>
              </div>
            </div>
          <% end %>
        <% end %>
      </li>
    </ul>
  </div>
</div>