<%= render "shared/header" %>

<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @food.product %>
    </h2>
    <div class='item-img-content'>
      <%= image_tag @food.image ,class:"item-box-img" %>
    </div>
    <div class="item-price-box">
      <span class="item-price">
         ¥<%= @food.price %>
      </span>
    </div>

  
    <% if user_signed_in? && @food.user == current_user %>
      <%= link_to"#{@food.product}の情報を正しくする", edit_food_path(@food.id), method: :get, class: "item-red-btn" %>
    <% elsif user_signed_in? %>
      <%= link_to "#{@food.product}を体に取り込む", new_food_path, class:"item-red-btn"%>
    <% else %>
      <%= link_to "#{@food.product}を体に取り込む", user_session_path ,class:"item-red-btn"%>
    <% end %>

    <div class="item-explain-box">
      <span><%= @food.product %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">投稿者</th>
          <td class="detail-value"><%= @food.user.nickname %>さん</td>
        </tr>
        <tr>
          <th class="detail-item">カロリー</th>
          <td class="detail-value"><%= @food.calorie %>kcal</td>
        </tr>
        <tr>
          <th class="detail-item">食材費</th>
          <td class="detail-value"><%= @food.price %>円</td>
        </tr>
      </tbody>
    </table>
    <div class="option">
      <div class="favorite-btn">
        <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
        <span>お気に入り 0</span>
      </div>
      <div class="report-btn">
        <%= image_tag "flag.png" ,class:"report-flag-icon" ,width:"20",height:"20"%>
        <span>不適切な商品の通報</span>
      </div>
    </div>
  </div>
  <% if user_signed_in? %>
    <div class='purchase-btn'>
      <span><%= link_to "食品を記録", new_food_path, class: 'purchase-btn-text' %></span>
      <%= image_tag 'https://1.bp.blogspot.com/-5Ivf_XbpMGY/VYJrrYShorI/AAAAAAAAuiI/OjRHAljzJ6A/s800/oishii1_boy.png' , size: '185x70' ,class: "purchase-btn-icon" %>
    </div>
  <% else %>
    <div class='purchase-btn'>
      <span><%= link_to "食品を記録", user_session_path, class: 'purchase-btn-text' %></span>
      <%= image_tag 'https://1.bp.blogspot.com/-5Ivf_XbpMGY/VYJrrYShorI/AAAAAAAAuiI/OjRHAljzJ6A/s800/oishii1_boy.png' , size: '185x70' ,class: "purchase-btn-icon" %>
    </div>
  <% end %>
  <%# /商品の概要 %>

  <div class="comment-box">
    <h4>＜コメント一覧＞</h4>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <p>
            <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
            <%= comment.text %>
          </p>
        <% end %>
      <% end %>
  </div>
    <% if current_user %>
      <%= form_with(model: [@food, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
        <%= form.submit "SEND" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
  <div class="links">
    <a href="#" class="change-item-btn">
      ＜ 前の商品
    </a>
    <a href="#" class="change-item-btn">
      後ろの商品 ＞
    </a>
  </div>
  <a href="#" class='another-item'><%= "商品のカテゴリー名" %>をもっと見る</a>
</div>

<%= render "shared/footer" %>
